<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Physicians:</strong>
  <%= @appointment.physicians.last %>
</p>

<p>
  <strong>Patients:</strong>
  <%= @appointment.patients.last %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
